@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body, select, option {
  font-family: Quicksand;
  color: var(--menu-text-color);
  font-family: Quicksand;
  font-weight: bold;
}

body.darkTheme {
  --background-image: url("../img/background-imperfections.webp");
  --background-gradient: linear-gradient(0deg, rgb(63 85 21) 0%, #56407d 90%);
  --menu-background-color: rgb(30, 30, 30);
  --menu-text-color: white;
}

body.lightTheme {
  --background-image: url("../img/background-imperfections.webp");
  --background-gradient: linear-gradient(0deg, rgb(85 157 103) 0%, #7d91bf 90%);
  --menu-background-color: rgb(220, 220, 220);
  --menu-text-color: black;
}
body.kidTheme {
    --background-image: url("../img/background-imperfections.webp"); /* A fun, colorful background image */
	--background-gradient: linear-gradient(0deg, #33d595 0%, rgb(126 205 255) 67%);
    --menu-background-color: #ffcc80; /* Light orange for menu */
    --menu-text-color: #5d4037; /* Chocolate brown text for contrast */
    --button-background-color: #ff8a65; /* Soft red for buttons */
    --button-text-color: #ffffff; /* White text on buttons */
    --link-color: #4db6ac; /* Turquoise for links */
    --hover-button-color: #f48fb1; /* Pink on hover */
    --text-color: #212121; /* Dark grey for main text */
    --accent-color: #ffd54f; /* Bright yellow for accents */
  }
body {
  padding: 0;
  margin: 0;
  background: var(--background-gradient);
  background-size: cover;
}

@media screen and (max-width: 160vh) {#books, #volumes {--numberBook: 5;}}
@media screen and (max-width: 140vh) {#books, #volumes {--numberBook: 4;}}
@media screen and (max-width: 120vh) {#books, #volumes {--numberBook: 3;}}
@media screen and (max-width: 90vh)  {#books, #volumes {--numberBook: 2;}}
@media screen and (max-width: 70vh)  {#books, #volumes {--numberBook: 1;}}
